<h2>Favorite Movies</h2>
<form method="POST" action="/favorites/update">
    <ul>
        {% for movie in favorite_movies %}
            <li>
                <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">
                  <strong>{{ movie.title }}</strong>
		  </a>
                <textarea name="comment_movie_{{ movie.id }}" placeholder="Write something about it">{{ movie.user_input }}</textarea>
                <a href="/favorites/remove/movie/{{ movie.id }}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Update Comments</button>
</form>

<a href="{{ url_for('recommendations') }}"><strong>Movies Recommended for You</strong></a>

<h2>Favorite Directors</h2>
<form method="POST" action="/favorites/update">
    <ul>
        {% for director in favorite_directors %}
            <li>
                <a href="{{ url_for('director_detail', director_id=director.id) }}">
                    <strong>{{ director.name }}</strong>
                </a>

                <a href="/favorites/remove/director/{{ director.id }}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Update Comments</button>
</form>


<form action="/favorites/save" method="POST">
    <button type="submit">Download My Favorites</button>
</form>


<form action="/favorites/load" method="POST" enctype="multipart/form-data">
    <label for="file">Upload Your Favorites File (JSON):</label>
    <input type="file" name="file" accept=".json" />
    <button type="submit">Upload and Load Favorites</button>
</form>
<a href="/">Back to Home</a>
