<ul>

            <span class="quote">{{ quote.quote }}
    </ul>
      <style>
    .quote {
      font-style: italic;
      font-size: 1.5em;
      color: #555;
    }
  </style>
<form method="POST" action="{{ url_for('random_movie') }}">
    <button type="submit" class="btn btn-primary">Go to a Random Movie</button>
</form>
	<a href="{{ url_for('favorites') }}">
    <button>My Favorites</button>
</a>
<form method="POST">
    <input type="text" name="query" placeholder="Search..." required>
    
    <label for="search_type">Search For:</label>
    <select name="search_type" id="search_type">
        <option value="movie">Movies</option>
        <option value="director">Directors</option>
    </select>

    <button type="submit">Search</button>
</form>

<h2>Search Results</h2>

{% if movies %}
    <h3>Movies</h3>
    <ul>
        {% for movie in movies %}
             <li>
                <a href="/movie/{{ movie.id }}">{{ movie.title }} 
                {% if movie.release_date %}
                    ({{ movie.release_date[:4] }})  <!-- Extracting the year from the release_date -->
                {% endif %}
                </a>
                
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if directors %}
    <h3>Directors</h3>
    <ul>
        {% for director in directors %}
            <li>
                <a href="/director/{{ director.id }}">{{ director.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
